body
{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.logo  
{
    font-size: 2em;
    background-color: lightslategray;
    display: block;
    text-align: center;
}

.main-class 
{

}
.details-container 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2.5vh;
}

.details-image 
{
    width: 85vw;
    height: 60vw;
    border-radius: 25%;
}

.details-title 
{
    font-size: 2em;
    display: block;
    margin-right: unset;
    border: solid 1px rgb(10, 10, 10);
    border-radius: 10%;
}

.thumbnails-list 
{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0%;
}

.thumbnails-item 
{
    overflow-y: hidden;
    width: 20vw;
    height: 20vw;
    margin-top: 2vh;
    border: solid 1px whitesmoke;
    border-radius: 25%;

}

.thumbnails-image 
{
    width: 20vw;
    height: 15vw;
    border-radius: 26%;

}

.thumbnails-title 
{
    display: block; 
    text-align: center;
    height: 10vw;
    background-color: grey;
}

.thumbnails-anchor 
{
    text-decoration: none;
   
}
